@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --background1: #f2f2f2;
    --text-color:#212121;
}

body :not(header){
    max-width: 94%; 
    margin: auto;
}


header{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: relative;
    
}




#logo img{
    max-height: 50px;
    object-fit: cover;
    object-position: center;
}

#header-container a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2vw;
}


#header-container a:hover:not(:first-child){
    border-bottom: 1px solid var(--text-color);
}


#menu-btn{
    border:none;
    background-color: white;
    font-size: 15px;
 
}

header button svg{
    vertical-align: top;
    
}

header button:hover span{
        border-bottom: 1px solid var(--text-color);
}


#banner{
    height: 55vh;
    background-image: url("https://img5.goodfon.com/original/2918x1918/1/4f/volvo-ex90-suv-electric-vehicle.jpg");
    background-position: center;
    background-size:cover;
    margin-top: 4vh;
}

#banner h1{
    font-size: 3rem;
    color: white;
    background-color: black;
    display: inline;
    border-radius: 20px;
    padding: 15px;
    opacity: 0.7;
    position: relative;
    left: 0.2vw;
    top: 6vh;
    cursor: pointer;
}

#trending-content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1vw;
}

.trending-content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 35vh;
    width: 15vw;
    border: 1px solid #e6e6e6;
    box-shadow: inset 0 -2px 0 0 #e6e6e6;
    cursor: pointer;
    transition-duration: 0.5s;
}

.trending-content-block:hover{
    transform: scale(1.1);
}

.trending-content-img{
    width: 100%;
    max-width: none;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.trending-content-img img {
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
  }


.trending-content-text{
 font-size: 16px;
 display: flex;
 justify-content: start;
 align-items: start;
}

#section-trending {
    margin: 10vh auto;
    width: 90%;
}

#section-trending h2{
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 6vh;
}



#expert-reviews{
    display: flex;
    flex-direction: column;
}



#expert-reviews-content{
display: flex;
gap: 1vw;
}

#expert-reviews-header{
    margin: 0;
}

#expert-reviews-header h2{
font-size: 36px;
margin: 0;
margin-bottom: 2vh;
}


#expert-reviews-header p{
margin: 0;   
margin-bottom: 4vh;
}

.expert-reviews-content-block{
    margin: 0;
    border: 1px solid #e6e6e6;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2vh;
    transition-duration: .2s;
}

.expert-reviews-content-block:hover{
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}



.expert-reviews-content-block img{
    width: 100%;
    max-width: none;
    margin: 0;
}

.kicker{
    margin: 1rem 0 1rem 1rem;
    position: relative;

}
.kicker h3{
    margin: 1rem 0;
    height: 18vh;
}

.blue-line::after {
  content: "";
  display: block;
  height: 4px;
  width: 24%;
  background-color: #00bfde;
}


.kicker h3::after{
  content: "";
  display: block;
  height: 0.65vh;
  width: 24%;
  background-color: #00bfde;
  margin-top: 1vh;
}

.author-expert{
    display: flex;
    align-items: start;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    max-width: none;
   
}

.author-expert img {
    border-radius: 50%;
    height: 8vh;
    width: auto;
    border: 4px solid #e6e6e6;
}

.expert-info{
    position: relative;
    bottom: 0px;
    max-width: none;
    width: 100%;
}

.expert-info p{
    font-size: 12px;
    font-weight: 400;
}

.expert-info h5{
    font-weight: 600;
    font-size: 14px;
}


 footer::before {
  content: "";
  width: 100%;
  display: block;
  height: 4px;
  background-image:linear-gradient(-90deg,#00bfde,#532380) ;
  padding: 0;
  top: 0;
  left: 0;

}


#footer{
    height: 45vh;
    width: 100%;
    max-width: none;
    margin: 0;
}

#footer-container{
    width: 100%;
    max-width: none;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 4vw;
    height: auto;
    padding: 20px;
    box-shadow: 0px 7px 0px -6px rgba(0, 0, 0, 0.3);
    
}

.global-footer-container-class{
    margin: 0;
    width: 30vw;
}



.according-group-header{
    font-size: 14px;
    font-weight: 600;
    width: 20vw;
    margin: 7px;
}

.global-footer-container-class:first-of-type .according-group .according-group-header {
    margin: 0;
}

#footer-section1{
    margin: 0;
}

#footer-section4 ul,
#footer-section3 ul,
#footer-section1 ul,
#footer-section2 ul{
    margin: 0;
    max-width: none;
    width: 100%;
}
#footer-section4 ul li,
#footer-section3 ul li,
#footer-section2 ul li,
#footer-section1 ul li{
    list-style: none;
    margin-top: 2vh;
    font-size: 14px;


}
#footer-section4 ul li a, 
#footer-section3 ul li a,
#footer-section2 ul li a,
#footer-section1 ul li a{
    text-decoration: none;
    color: var(--text-color);
}




svg {
    vertical-align: top;
    width: 18px;
    height: 18px; 
}

.global-footer-container-class:nth-child(2) .according-group:first-child{
    margin-bottom: 3vh;
}

ul li{
    margin: 0;
}

#footer-mobile-apps a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

#footer-mobile-apps{
    margin-top: 1rem;
    height: 15vh;
}

#global-footer-mobile-buttons{
    margin-top: 1rem;
    display: flex;

}

#global-footer-mobile-buttons{
    margin: 1rem 0;
}

#footer-mobile-apps > a:hover,
#footer-section4 ul li:hover,
#footer-section3 ul li:hover,
#footer-section2 ul li:hover,
#footer-section1 ul li:hover{
  text-decoration: underline;
}

#social-links ul li svg{
    height:45px ;
    width: 45px;
}

#social-links ul{
display: flex;
justify-content: center;
align-items: center;
gap: 0.3rem;
margin: 0;
width: 250px;
}

#social-links ul li{
    list-style: none;
}

#social-links ul li a {
    margin: 0;
}

#social-links{
    margin: 0;
}


#global-copyright{
    margin: 0;
    width: 100%;
    max-width: none;
}

#global-copyright-container{
    margin: 2vh auto;
}
#global-copyright-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    gap: 10px;
    position: relative;
    right: 11.5%;
}

#global-copyright-container ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

#global-copyright-container ul li a:hover{
    text-decoration: underline;
}

#global-copyright-copy{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 1rem;
 font-weight: 200;
 font-size: 14px;
 text-align: center;
}

#global-copyright-container ul li{
    list-style: none;
}

#burger-menu{
    position: relative;
    top: 20vh;
    max-width: 400px;
    background-color:white ;
    padding: 2rem 4rem;
    box-shadow:  0px 0px 6px rgba(0, 0, 0, 0.3);
    display: none;
}

#burger-menu button{
    display: block;
}

#burger-menu span{
    font-size: 20px;
    font-weight: 600;
}





ul li a {
    text-decoration: none;
    color: var(--text-color);
}

ul li{
    list-style: none;
    font-size: 18px;
    margin-top: 1rem;
}

ul li a img{
    height: 20px;
    vertical-align: top;
}

ul li a:hover{
   text-decoration: underline;
   color: #532380;
}

#sign-in{
    margin-top: 20px;
   width: 400px;
   border: 2px solid #532380; 
   padding: 10px 20px;
   border-radius: 10px;
   color: #532380;
   font-weight: 800;

}

#sign-in:hover{
    background-color: #250858;
    color: white;
}


#create-acc{
   margin-top: 20px;
   width: 400px;
   padding: 10px 20px;
   border-radius: 10px;
   color: white;
   font-weight: 800;
   background-color: #532380;
}

#create-acc:hover{
    background-color: #250858;
}

#burger-menu {
    display: none;
  }



  #menu-container{
    margin: 0;
    position: relative;
    right: 2vw;
  }

#menu-container:hover #burger-menu{
    display: block;
}

#menu-container:hover #menu-btn{
    display: none;
}




#media-menu{
    display: none;
}


@media (max-width: 1200px){

    #burger-menu{
        top: 15vh;
    }

    #header-container a {
        font-size: 1.4vw;
    }

  

}

@media (max-width:1024px)
{
    #global-copyright{
        display: flex;
        flex-direction: column;
    }

    #global-copyright-container{
        display: flex;
        justify-content: center;
        align-items:center ;
        padding-left: 100px;
    }

}


@media (max-width:900px){
    
    #header-container a {
        font-size: 1.6vw;
    }
}


@media (max-width:768px){
    
    #header-container a:not(:first-child) {
        display: none;
    }
    #media-menu{
        display: block;
        font-size: 8px;
    }

    #burger-menu{
        top: 27vh;
    }

    #trending-content{
        grid-template-columns: repeat(3,1fr);
        gap: 1vw;
    }

    .trending-content-block{
        width: 26vw;
    }
    
   #banner h1{
    font-size: 20px;
   }

   #section-trending h2{
    font-size: 25px;
   }

   #expert-reviews-header h2{
    font-size: 25px;
   }

   #expert-reviews-header p{
    font-size: 18px;
   }

    
    #expert-reviews-content{
        flex-wrap: wrap;
    }

    .author-expert img {
        height: 20vh;
    }

    .author-expert{
        margin: 0,auto;
        bottom: 50px;
    }

    .expert-info h5{
        font-size: 18px;
    }

    .expert-info p{
        font-size: 16px;
    }

}


